# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.3D Platformer Mobile Game.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\slava\Desktop\Unity Projects\3D Platformer Mobile\3D Platformer Mobile Game\.idea\.idea.3D Platformer Mobile Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
